@model Sistema.Web.Data.Entities.Article

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleClassification.Codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Brand_Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Article_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-md btn-info">Back to List</a>
    </form>
</div>
